.show-file-table {
  border-collapse:collapse;
  width: 100%;
  
  background-color: white;
}
.show-file-table h1{
  size: 2cm;
  color: black;
  font-weight: '900';
}
.show-file-table h3{
  color: #008b8b;
}
.show-file-table h2{
  
  color: rgb(95, 92, 92);
  font-weight: bold;
}
.show-file-table th{
  padding: 10px;
  text-align: middle;
  color: white;
  font-weight: normal;
   font-size: '14px';
   color: '#6ebeb0' ;

}
.bg-red-500
{
  background-color:  rgb(110,190,176);
}
.prestation-heading
{

  color:red;
}
.forgot-psw 
{
  font-size: medium;
  font-weight:bold;
  color: rgb(110,190,176);;
}
.show-file-table td {
  
  padding: 10px;
  text-align: middle;
  color: black;
  font-weight: normal;
   font-size: '14px';
   color: '#6ebeb0' ;
}

.show-file-table th {
  background-color: rgb(110,190,176);
}
.background-sidebar 
{
  background-color: white;
}
.description-cell {
  max-width: 400px; /* Adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-Bottom: '30px',
}
.Attestation-cell {
 /* Adjust the width as needed */
 color: rgb(51, 113, 103);;
 font-weight: bold;
 font-size: '300px';
 margin-left: 0.5cm;
  margin-Bottom: '120px',
  
}
.markerTextStyle  {
  position: 'relative';
  display: 'inline-block';
  padding: '0.5em';
  margin-left: '0.5em';
  columns: red;
};
.show-file-table tr:first-child td {
  color: #030303;
  text-align: middle;
  background-color: white;
  
}
.show-file-table tr:nth-child(even) {
  background-color: #f2f2f2;
  text-align: middle;
}
.custom-heading {
  font-size: 1.25rem; /* Adjust the font size to your desired value */
  font-weight: bold; /* Adjust the font weight if needed */
  margin-left: 0.5cm;
}
.align-top {
  vertical-align: top;
}
.record-heading
{
  margin-left: 0.5cm;
}

.show-file-table tr:last-child td {
  border-bottom: 4px solid rgb(247, 245, 245,1.2);
  text-align: middle;
}
.container {

  background-color: white;
}
.container-immg {
  overflow: auto;
}
.container-immg h1 {
  
  color:  rgb(70, 208, 162);
  
}
.container-immg img {
  
  float: left;
  margin-right: 49px;
}

.input {
  height: 150px; /* Adjust the height as needed */
  padding-top: 0.5rem; /* Adjust the padding as needed */
  resize: vertical; /* Allow vertical resizing if desired */
  box-sizing: border-box; /* Ensure the height includes padding and border */
}
.marker::before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 4px;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.2);
  z-index: -1;
}

.white-box {
  background-color: white;
  padding: 10px;
  border: 0.5px solid rgb(205, 203, 203);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  width: 80px;
  height: 30px;
}
.page-content {
  flex: 1;
  padding: 20px;
}

.sidebar-right {
  flex-basis: 50%;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(205, 203, 203);
  
  padding: 20px;
  padding-right: 1cm;
  height: 100%;
}
.message-container {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  padding-top: 10px;
  width: 92%;
  margin-left: 20px;
}
.message {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  padding-top: 10px;
  width: 92%;
  margin-left: 20px;
}

.message-input {
  flex-grow: 1;
  resize: none;
  margin-right: 10px;
  border: 0.5px solid rgb(205, 203, 203);
  margin-bottom: 30px;

  border-radius: 10px;
  background-color:white;
}
.ticket-chat-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-interface {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sender {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.message-text-box {
  background-color: rgb(248, 248, 248);
  border-radius: 8px;
  border: 0.1px solid rgb(242, 239, 239);
  
  padding: 10px;
  margin-right: 38px;
}
.message-bubble{

  margin-bottom: 39px;
}
.timestamp{
  font-size: 11px;
  font-weight: bold;
  color: dimgrey;

}